<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mdashboard.css') }}">
</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
          <header>
            <a href="#">My App</a>
          </header>
          <ul class="nav">
            <br>
            <li>
              <a href="#" id="add-doctor">
                <i class="zmdi zmdi-view-dashboard" ></i> Add Doctor
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="remove-doctor">
                <i class="zmdi zmdi-link"></i> Remove Doctor
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="add-patient">
                <i class="zmdi zmdi-widgets"></i> Add Patient
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="remove-patient">
                <i class="zmdi zmdi-calendar"></i> Remove Patient
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="book-appointment">
                <i class="zmdi zmdi-info-outline"></i> Book Appointment
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="check-logs">
                <i class="zmdi zmdi-settings"></i> Check Logs
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="logout">
                <i class="zmdi zmdi-comment-more"></i> LogOut
              </a>
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div id="content">
          <div class="container-fluid">
            <h1>Simple Sidebar</h1>
            <p>
              Make sure to keep all page content within the 
              <code>#content</code>.
            </p>
          </div>
        </div>
      </div>
      <script>
        const apiRoutes = {
            addDoctor: "{{ url_for('add_doctor') }}",
            addPatient: "{{ url_for('add_patient') }}",
            removeDoctor: "{{ url_for('remove_doctor') }}",
            removePatient: "{{ url_for('remove_patient') }}",
            bookAppointment: "{{ url_for('book_appointment') }}",
            checkLogs:"{{url_for('check_logs')}}",
            logout: "{{ url_for('logout') }}"
        };
    </script>
    <script src="{{ url_for('static', filename='management.js') }}"></script>
      <!-- <script src="/static/management.js"></script> -->
      <!-- <script src="{{ url_for('static', filename='management.js') }}"></script> -->

</body>
</html>
