
<html lang="en">
<head>
    <title>Medical record</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <section>
        <div class="content">
            <!-- <div class="image">
                <img src="https://m.media-amazon.com/images/I/61dPMGfJd4L._SX679_.jpg" alt="Mobile phone">
            </div> -->
            <br>
            <div class="details">
                <h2>SELECT</h2>
                <br>
            </div>
            <br>
            <div class="option">
                <a href="management.html"><button type="button">Management</button></a>
            </div>
            <br>
            <div class="option">
                <a href="doctor.html"><button type="button">Doctor</button></a>
            </div>
            <br>
            <div class="option">
                <a href="patient.html"><button type="button">Patient</button></a>
            </div>
            <br>
            <!-- <div class="option">
                <a href="record_manager.html"><button type="button">Record Manager</button></a>
            </div> -->
            <br>
        </div>
    </section>
</body>
</html>