<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Management Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mdashboard.css') }}">
</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
          <header>
            <a href="#">My App</a>
          </header>
          <ul class="nav">
            <br>
            <li>
              <a href="#" id="add-doctor">
                <i class="zmdi zmdi-view-dashboard" ></i> Add Doctor
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="remove-doctor">
                <i class="zmdi zmdi-link"></i> Remove Doctor
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="add-patient">
                <i class="zmdi zmdi-widgets"></i> Add Patient
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="remove-patient">
                <i class="zmdi zmdi-calendar"></i> Remove Patient
              </a>
            </li>
            <br>
            <li>
              <a href="#">
                <i class="zmdi zmdi-info-outline"></i> About
              </a>
            </li>
            <br>
            <li>
              <a href="#">
                <i class="zmdi zmdi-settings"></i> Services
              </a>
            </li>
            <br>
            <li>
              <a href="#">
                <i class="zmdi zmdi-comment-more"></i> Contact
              </a>
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div id="content">
          <!-- <nav class="navbar navbar-default">
            <div class="container-fluid">
               <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
                  </a>
                </li>
                <li><a href="#">Test User</a></li>
              </ul> 
            </div>
          </nav> -->
          <div class="container-fluid">
            <h1>Simple Sidebar</h1>
            <p>
              Make sure to keep all page content within the 
              <code>#content</code>.
            </p>
          </div>
        </div>
      </div>
      <script>
        const apiRoutes = {
            addDoctor: "{{ url_for('add_doctor') }}",
            addPatient: "{{ url_for('add_patient') }}",
            removeDoctor: "{{ url_for('remove_doctor') }}",
            removePatient: "{{ url_for('remove_patient') }}"
        };
    </script>
    <script src="{{ url_for('static', filename='management.js') }}"></script>
      <!-- <script src="/static/management.js"></script> -->
      <!-- <script src="{{ url_for('static', filename='management.js') }}"></script> -->

</body>
</html>
