<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mdashboard.css') }}">
</head>
<body>
    <div id="viewport">
        <!-- Sidebar -->
        <div id="sidebar">
          <header>
            <a href="#">My App</a>
          </header>
          <ul class="nav">
            <br>
            <li>
              <a href="#" id="patient-profile">
                <i class="zmdi zmdi-view-dashboard" ></i> My Profile
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="request-appointment">
                <i class="zmdi zmdi-link"></i> Request Appointment
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="patient-appointments">
                <i class="zmdi zmdi-widgets"></i> Appointments
              </a>
            </li>
            <br>
            <li>
              <a href="#" id="logout">
                <i class="zmdi zmdi-calendar"></i> Logout
              </a>
            </li>
          </ul>
        </div>
        <!-- Content -->
        <div id="content">
          <div class="container-fluid">
            <h1>Simple Sidebar</h1>
            <p>
              Make sure to keep all page content within the 
              <code>#content</code>.
            </p>
          </div>
        </div>
      </div>
      <script>
        const apiRoutes = {
            patientprofile: "{{ url_for('patient_profile') }}",
            requestappointment: "{{ url_for('request_appointment') }}",
            patientappointments: "{{ url_for('patient_appointments') }}", 
            logout: "{{ url_for('logout') }}"
        };
    </script>
    <script src="{{ url_for('static', filename='patient.js') }}"></script>
      <!-- <script src="/static/management.js"></script> -->
      <!-- <script src="{{ url_for('static', filename='management.js') }}"></script> -->

</body>
</html>